<div th.fragment="header">
    <header class="p-3 bg-dark text-white">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-left justify-content-left justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/products" class="nav-link px-2 text-white">Products</a></li>
                    <li><a href="/manufacturers" class="nav-link px-2 text-white">Manufacturer</a></li>
                    <li><a href="/users" class="nav-link px-2 text-white"  sec:authorize="hasAuthority('ADMIN')">Users</a></li>
                </ul>

                <div class="col-11 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <a th:href="'/users/user_detail/' + ${#request.userPrincipal.principal.user.id}" class="nav-link px-2 text-white">
                        <p th:text="${#request.userPrincipal.principal.user.firstName} + ' ' + ${#request.userPrincipal.principal.user.lastName}"></p>
                    </a>
                </div>
                <form th:action="@{/logout}" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="submit" class="form-control form-control-dark" value="Log Out" id="logout">
                </form>
            </div>
        </div>
    </header>

</div>